body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contactImg {
  width: 60px;
}
button {
  margin: 20px;
  background-color: rgb(213, 184, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
}
table {
  margin: 0 auto;
  border: 1px solid grey;
}
td {
  border: 1px solid grey;
}